.body {
    margin: 0;
    padding: 0;
}

.navItem {
    color: #46535E ;
}

.navItem:hover {
    color: #C4820E ;
}

.footer {
    background-color: #46535E;
    color: #fff;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}